@page
@model IndexModel
@{
    ViewData["Title"] = "PAGINA PRINCIPALA";
}

<div class="text-center">
    <h1 class="display-4">Bun venit pe site-ul nostru unde poti cumpara si vinde un joc</h1>
    <p>Poti incepe prin a <a href="/Jocuri">CUMPARA</a> un joc deja existent pe site sau prin a <a href="/Jocuri/Create">VINDE</a> un joc pe care il detii.</p>
</div>
