@page
@model Sutea_Paul_Vasile_Proiect.Pages.Jocuri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Vinde</h1>

<h4>Joc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Joc.Titlu_joc" class="control-label"></label>
                <input asp-for="Joc.Titlu_joc" class="form-control" />
                <span asp-validation-for="Joc.Titlu_joc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Joc.Publisher" class="control-label"></label>
                <input asp-for="Joc.Publisher" class="form-control" />
                <span asp-validation-for="Joc.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Joc.Pret" class="control-label"></label>
                <input asp-for="Joc.Pret" class="form-control" />
                <span asp-validation-for="Joc.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Joc.DataPublicarii" class="control-label"></label>
                <input asp-for="Joc.DataPublicarii" class="form-control" />
                <span asp-validation-for="Joc.DataPublicarii" class="textdanger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="VINDE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la lista de jocuri</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
